@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.header {
  height: 100vh;
  position: absolute;
  width: 100%;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.header__logo {
  flex: 0 0 60px;
  max-width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.header__menu {
  display: flex;
  gap: 45px;
  align-items: center;
}
.header__menu-bullet {
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  border-radius: 100%;
  margin-right: 10px;
  fill: none;
}
.header__menu a {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  cursor: default;
}
.header__menu-item {
  transition: all 0.1s ease-in;
}
.header__menu-item::after {
  content: "";
  width: 0;
  display: block;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}
.header__menu-item:hover .header__menu-bullet {
  fill: #fff;
  border: none;
}
.header__menu-item:hover::after {
  width: 100%;
}
.header__social {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__social-icon {
  width: 40px;
  height: 40px;
}
.header__social a {
  cursor: default;
  transition: all 0.1s ease-out;
}
.header__social a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.header__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__heading-main {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.header__heading-sub {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #fff;
  text-transform: uppercase;
}
.header__action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__action-arrow {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-bottom: 50px;
  transition: all 0.1s ease-in-out;
}
.header__action-arrow a {
  cursor: default;
}
.header__action-arrow:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #18b5a4;
    padding: 70px 10px 20px 10px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__link {
    font-size: 24px;
  }
}
.projects {
  background-image: url(../assets/img/projects_img/projects_bg.png);
  background-size: cover;
  height: 99.9%;
  margin-top: 150px;
}
.projects-border {
  border: 1px solid #fff !important;
  margin-top: 120px;
}
.projects-title {
  color: #fff !important;
}

.services {
  padding-top: 100px;
}
.services__description-under {
  font-family: "Monsterrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  text-transform: uppercase;
}
.services__description-title {
  font-family: "Monsterrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  text-transform: uppercase;
}
.services__description-text {
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
}
.services__description-button {
  margin-top: 40px;
}
.services__description-location {
  padding-top: 60px;
}
.services__description-location img {
  width: 10px;
  height: 15px;
}
.services__description-location a {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #000;
}
.services__left {
  padding-top: 90px;
  display: flex;
  gap: 50px;
}
.services__left-images img {
  position: relative;
  margin-top: 60px;
}
.services__left-card {
  padding-top: 150px;
}
.services .left-bg {
  width: 585px;
  height: 470px;
  background-color: #55B7FF;
  position: absolute;
  left: 0;
  z-index: -1;
}
.services .right-bg {
  width: 585px;
  height: 470px;
  background-color: #7E5AFF;
  position: absolute;
  right: 0;
  z-index: -1;
}
.services__right {
  padding-top: 90px;
  display: flex;
  gap: 50px;
}
.services__right-card {
  padding-top: 150px;
}
.services__right-images img {
  position: relative;
  margin-top: 60px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body {
  min-height: 100%;
  font-family: "Monsterrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}
.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__content_image {
  padding: 0;
}
.popup__image img {
  max-width: 250%;
  vertical-align: middle;
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.popup__title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}
.popup__subtitle {
  font-size: 28px;
  margin: 0px 0px 1em 0px;
}
.popup__text {
  font-size: 18px;
  word-spacing: 6px;
  line-height: 1.5em;
  margin: 0px 0px 1em 0px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.contact {
  margin-top: 150px;
}
.contact__picture {
  background-image: url(../assets/img/bg_contacts.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.contact__form {
  position: absolute;
  z-index: 10;
  -webkit-transform: translate(-50%, -70%);
  left: 50%;
  width: 770px;
  height: 450px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.contact__form-container {
  padding: 40px 60px 60px 60px;
  display: flex;
  gap: 55px;
}
.contact__form-contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact__form-contacts a {
  font-family: "Monsterrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.contact__form-registration form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact__form-registration form button {
  width: 140px;
  font-size: 18px;
  line-height: 27px;
}

.footer {
  background-image: url(../assets/img/footer.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 200px 0;
  gap: 350px;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__logo-copywrite {
  font-family: "Monsterrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
.footer__social {
  display: flex;
  gap: 20px;
  height: 40px;
}
.footer__social-icon {
  width: 40px;
  height: 40px;
}
.footer__social a {
  cursor: default;
  transition: all 0.1s ease-out;
}
.footer__social a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a, li {
  text-decoration: none;
  color: #000;
  list-style: none;
}

.wrapper {
  margin: 0 200px;
}

.invalid {
  border-color: red !important;
  color: red !important;
  opacity: 1 !important;
}

.input-error {
  font-family: "Monsterrat", sans-serif;
  color: red;
}

.button {
  width: 190px;
  height: 50px;
  border: 1px solid #2C4058;
  font-family: "Monsterrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title hr {
  width: 100px;
  border: 1px solid #2C4058;
  margin-bottom: 30px;
}
.section-title h2 {
  font-family: "Monsterrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #2C4058;
  text-transform: uppercase;
}

.form-input {
  height: 40px;
  color: #4B5562;
  border: none;
  border-bottom: 1px solid #4B5562;
  background-color: #fff;
  opacity: 0.5;
  transition: all 0.1s ease-in;
  font-family: "Monstrrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.form-input:focus-visible {
  color: #4B5562;
  border: none;
  border-bottom: 1px solid #4B5562;
  opacity: 1;
  outline: 0;
}