.contact {
    margin-top: 150px;
    &__map {
        background-image: url(../assets/img/bg_contacts.jpg);
        background-size: cover;
        height: 100vh;
        position: relative;
    }

    &__form {
        position: absolute;
        z-index: 10;
        -webkit-transform: translate(-50%, -70%);
        left: 50%;
        width: 770px;
        height: 450px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding-top: 60px;

        &-container {
            padding: 40px 60px 60px 60px;
            display: flex;
            gap: 55px;
        }

        &-contacts {
            display: flex;
            flex-direction: column;
            gap: 30px;

            & a {
                font-family: 'Monsterrat', sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
            }
        }

        &-registration form{
            display: flex;
            flex-direction: column;
            gap: 30px;
            & button {
                width: 140px;
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
}